@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); 

:root {
  --background: #F3F0D7;
  --background-decor: #DBD0C0;
  --banner-bg: #1C0C5B;
  --banner-txt: white;

  /* Fonts */ 
  --font-banner: 'Abril Fatface', cursive;
  --space: 16px;
  --space-xsm: 4px;
  --space-sm: 8px;
  --space-lg: 24px;
  --space-xlg: 48px;
}

/* Base template configurations */ 
body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-color: var(--background);
  background-image: radial-gradient(var(--background-decor) 20%, transparent 0), radial-gradient(var(--background-decor) 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;

}

.bday-card {
  padding-top: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bday-banner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 42px;
  z-index: 1;
  color: var(--banner-txt);
  font-family: var(--font-banner);
  text-transform: uppercase;
  transform: rotate(-5deg);
  gap: var(--space-sm) 0;
}

.bday-banner span {
  background: var(--banner-bg);
  padding: var(--space) var(--space-lg);
  flex-grow: 0;
}